<%- include('./header.ejs') %>



    <section class="fdb-block pb-0" data-block-type="conten400px" data-id="1" draggable="true">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-10 col-sm-6 m-auto col-md-4 pb-4 pb-md-0">
            <span id="animate-book"> <img src="assets/images/cutebook.png" width="100px"alt="" ></span> <span id="animate-book2"><img src="assets/images/cutebook3.png" width="100px"alt="">  </span>
            <?xml version="1.0" encoding="UTF-8"?>



            <svg viewBox="0 0 502 502" xmlns="http://www.w3.org/2000/svg">
              <g>
              <title>background</title>
              <rect x="-1" y="-1" width="582" height="402" fill="none"/>
              </g>
              <g>
              <title>Layer 1</title>
              <!-- <path d="m424.13 50.412c0-22.871-18.541-41.412-41.413-41.412h-263.44c-22.872 0-41.413 18.541-41.413 41.412v357.23h346.27v-357.23z" fill="#F0EFE4"/> -->
              <path d="m424.13 50.412c0-22.871-18.541-41.412-41.413-41.412h-263.44c-22.872 0-41.413 18.541-41.413 41.412v357.23h346.27v-357.23z" fill="#dcdcdc"/>
              <path d="m77.864 407.64v41.949c0 22.871 18.541 41.412 41.413 41.412h263.44c22.871 0 41.413-18.541 41.413-41.412v-41.949h-346.27z" fill="#000000"/>
              <path  d="m434.13 49.412c0-28.349-23.063-51.412-51.413-51.412h-263.44c-28.349 0-51.412 23.063-51.412 51.412v399.18c0 28.349 23.063 51.412 51.413 51.412h263.44c28.35 0 51.413-23.063 51.413-51.412v-399.18h-1e-3zm-346.27 0c0-17.32 14.092-31.412 31.413-31.412h263.44c17.321 0 31.413 14.092 31.413 31.412v347.23h-326.27v-347.23zm326.27 399.18c0 17.32-14.092 31.412-31.413 31.412h-263.44c-17.321 0-31.413-14.092-31.413-31.412v-31.949h326.27v31.949z" />
              <text transform="matrix(1.0832 0 0 1.2882 -17.862 -92.583)" x="215.256817" y="428.9737" fill="#ffffff" fill-opacity="null" font-family="'Bitter','Trebuchet MS', Gadget, sans-serif" font-size="24" stroke="null" stroke-opacity="null" stroke-width="0" xml:space="preserve">kindle</text>
              </g>
            </svg>

          </div>
          <div class="home-section-text col-12 ml-auto col-md-6 col-lg-5">
            <h1>
              
            </h1>
            <p class="text-h3">
            Reading your documents and web content on Kindle is now easier than ever. Use <b>dropbooks</b> to read on your Kindle devices and free reading apps on iPhone, iPad, iPod touch and Android phone and tablet.
            </p>
            <p>
            Ipsum vitae labore quam et sapiente. Exercitationem qui nobis inventore asperiores odio. Doloribus minus est dicta eius.
            </p>
            <p><a class="btn is-dark btn-round mt-4 mb-5 mb-md-0"
                  href="/send" id="send-now" >Send now</a></p>
          </div>
        </div>
      </div>
    </section>



    <section class="fdb-block" data-block-type="contents" data-id="11" draggable="true">
      <div class="container">
        <div class="row">
          <div class="col text-left">
            <h2>Far far away...</h2>

            <p>Far far away, behind the word mountains, far from the countries <a href="">Vokalia</a> and <a href="">Consonantia</a>, there live the blind texts. Separated they live in Bookmarksgrove right at the coast
            of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the <a href="">Little Blind Text</a>          should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their
            agency, where they abused her for their.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="fdb-block" data-block-type="features" data-id="12" draggable="true">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h1>Key Features</h1>
          </div>
        </div>

        <div class="row text-center justify-content-center mt-5">
          <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
            <img alt="image" class="fdb-icon" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/img_round.svg">
            <h3><strong>Feature 1</strong></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>

          <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
            <img alt="image" class="fdb-icon" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/img_round.svg">
            <h3><strong>Feature 2</strong></h3>
            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>

          <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
            <img alt="image" class="fdb-icon" src="https://editor-latest.s3.amazonaws.com/design-blocks/block_images/img_round.svg">
            <h3><strong>Feature 3</strong></h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
          </div>
        </div>
      </div>
    </section>

    <footer class="fdb-block footer-small fp-active" data-block-type="footers" data-id="13">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <p>© 2018 dropbooks. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

  </body>
</html>
