<%- include('./header.ejs') %>
<section class="fdb-block fp-active" style="background-image: url(https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg); background-size: cover;"
    data-block-type="forms" data-id="1">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
              <!-- <form method="post" action="login" id="form-id"> -->
              <form action="#">

                    <div class="fdb-box">
                        <div class="row">
                            <div class="col">
                                <h1>Log In</h1>
                                <p class="text-h3">You're only one step away from reading your favourite books and
                                    personal
                                    documents on your kindle device.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mt-4">
                                <input type="text" class="form-control" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Password" name="password">

                                <p class="text-right"><a href="/register">Need an account?</a></p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input class="btn" type="submit" name="Submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</body>

</html>
