
<%- include('./header.ejs') %>

    <section class="fdb-block fp-active" style="background-image: url(https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg); background-size: cover;"data-block-type="forms" data-id="15" draggable="true">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
            <form method="post" action="register" id="form-id" >
              <div class="fdb-box fdb-touch">
                <div class="row">
                  <div class="col">
                    <h1>Register</h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col mt-4">
                    <input name="username" type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="row">
                  <div class="col mt-4">
                    <input type="text" name="email" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input type="text" name="kindleemail" class="form-control" placeholder="Kindle Email">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input type="password" name="password" class="form-control mb-1" placeholder="Password">
                    <p class="text-right"><a href="/login">Already have an account?</a></p>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <input class="btn" type="submit" name="Submit">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

  </body>
</html>
