<%- include('./header.ejs') %>

    <section class="fdb-block" style="background-image: url(https://editor-latest.s3.amazonaws.com/design-blocks/block_images/bg_c_2.svg);" data-block-type="forms" data-id="1" draggable="true">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-12 col-md-9 col-lg-8">
            <div class="fdb-box fdb-touch">
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                  <h1>Transfer in an instant!  </h1>
                  <p class="text-h3">Drag and drop your books or documents here.</p>
                </div>
              </div>
              <div class="row justify-content-center mt-4">
                <div class="col-12 col-lg-10">
                  <form method="post" action="/send" id="send-id" encType="multipart/form-data">
                    <div class="input-group">
                      <input type="file" class="form-control" name="book">
                      <span class="input-group-btn">
                        <input class="btn" type="submit" name="Submit">
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="fdb-block" data-block-type="testimonials" data-id="1" draggable="true">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <p class="text-h3">Please note that to start receiving documents from our mail server you need to whitelist<h2 style="display: inline;">dropbookskindle@gmail.com</h2>  from your kindle account. </p>
            <p>  <a href="https://www.amazon.com/gp/sendtokindle/email">Click to learn more.</a></p>
            <p class="text-h3"><em> Team dropbooks. ❤️</em></p>
          </div>
          <div class="col-8 col-sm-6 col-md-2 col-lg-3 col-xl-2 mt-4 mt-md-0 ml-auto mr-auto mr-md-0">
            <img alt="image" class="img-fluid" src="https://www.ifrymburk.info/wp-content/uploads/2016/01/infoicon.gif">
          </div>
        </div>
      </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

  </body>
</html>
