<%- include('./header.ejs') %>
<section class="fdb-block team-2 fp-active" data-block-type="teams" data-id="1" draggable="true" style="padding: 40px 0;">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>Meet Our Team</h1>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <img alt="image" class="img-fluid" src="https://avatars2.githubusercontent.com/u/14858039?s=460&v=4" style="filter: none;">

        <h2>Faraz Khan</h2>
        <p> C1-03-17CE5508 
        </p>
             +    <a href="mailto:farazrk001@gmail.com">Email</a>
          <br>
             +    <a href="https://t.me/frzkn">Telegram</a>

      </div>

      </div>

  </div>
</section>
